/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200;1,400&display=swap');


*{
  margin: 0%;
  padding: 0%;
}

body{
  background-color: #D9D9D9;
}
/* html,
body,
#root,
.app,
.content{
  font-family: 'Poppins', sans-serif;
}

.app{
  position: relative;
  display: flex;
  width: 100vw;
}

.content{
  width: 100%;
}
.sidebar{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
} */
/* 
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover{
  background: #555;
}


@media screen and (max-width:800px) {
  .sidebar{
    display: none;
  } 
} */